@using SapLichThiITC
@using WebAppBootStrap2.Services

<Button @onclick="HandleScheduling">Xếp lịch thi</Button>

@code {
    [Inject] ToastService? Toast { get; set; }
    [Inject] PurdueSchedulingService? PurdueSchedulingService { get; set; }

    private void HandleScheduling()
    {
        if(PurdueSchedulingService == null)
        {
            Toast?.Notify(new(ToastType.Danger, "Thiết lập không đúng"));
        }
        PurdueSchedulingService.RunScheduler("");
    }
}
