@page "/fileUploadPurdue"
@using WebAppBootStrap2.Services

<label for="fileInput"></label>
<InputFile class="form-control" id="fileInput" OnChange="HandleUploadFile">

</InputFile>

<Button @onclick="ProcessUploadedFile">Xử lý file</Button>

@code{
    [Inject] ToastService? Toast { get; set; }
    [Inject] FileSaverService? FileSaverService { get; set; }
    [Inject] IConfiguration? Configuration { get; set; }

    const int MAX_FILE_SIZE = 1024 * 1024 * 512;

    private IBrowserFile? DatasetFile { get; set; }

    public async Task HandleUploadFile(InputFileChangeEventArgs e)
    {
        DatasetFile = e.File;
    }
    async Task ProcessUploadedFile()
    {
        if (DatasetFile is null)
        {
            Toast?.Notify(new ToastMessage(ToastType.Danger, "Chưa có file nào được tải lên"));
            return;
        }
        if(FileSaverService == null || Configuration == null)
        {
            Toast?.Notify(new ToastMessage(ToastType.Danger, "Thiết lập chưa đúng"));
            return;
        }
        string? storagePath = Configuration.GetValue<string>("storage");
        if (storagePath == null)
        {
            Toast?.Notify(new ToastMessage(ToastType.Danger, "Thiết lập chưa đúng"));
            return;
        }
        string filePath = await FileSaverService.SaveAsync(DatasetFile, storagePath, MAX_FILE_SIZE, DatasetFile.Name);

    }
}
